.cartItem {
    display: grid;
    width: 100%;
    height: 50px;
    line-height: 50px;
    grid-template-columns: [name]auto [price]100px [quantity]100px [total]100px [buttons]100px;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: "Helvetica Neue";
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;

    .cartItemName,
    .cartItemPrice,
    .cartItemQuantity,
    .cartItemTotal,
    .cartItemButtons {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cartItemName,
    .cartItemPrice,
    .cartItemQuantity,
    .cartItemTotal {
        text-indent: 20px;
        border-right: 1px solid rgba(0,0,0,0.1);
    }

    .cartItemButtons {
        display: grid;
        grid-template-columns: [pad1]10px [buttonarea]auto [pad2]10px;
        grid-template-rows: 10px [buttonarea]auto 10px;

        button {
            grid-column: buttonarea;
            grid-row: buttonarea;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            cursor: pointer;
            background-color: white;
            transition: background-color 0.1s ease;
            font-family: "Helvetica Neue";
            font-weight: 200;
        }
        button:hover {
            background-color: rgba(250, 186, 186, 1);
            transition: background-color 0.1s ease;
        }
        button:active {
            background-color: rgba(250, 186, 186, 1);
        }
    }
}